version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5001:5001"
    volumes:
      - ./backend/uploads:/app/uploads
      - ./backend/trezorerie.db:/app/trezorerie.db
    restart: always

  frontend:
    build: .
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always